* text=auto !eol
/ChangeLog -text
/FloodCheck.c eol=lf
/Helpers.c eol=lf
/LICENSE -text
/Makefile.in -text
/OnJoinBot.c eol=lf
/README.SecureServ -text
/README.SecureServ.html -text
/RelNotes.txt -text
/SecureServ.c eol=lf
/SecureServ.h eol=lf
/SecureServ.settings -text
/SecureServ.xml -text
/SecureServ_help.c eol=lf
/configure -text
/configure.in -text
/html.css -text
/http.c eol=lf
/http.h eol=lf
/install-sh -text
/modconfig.h.in -text
/scan.c -text
/viri.dat -text
